<table id="pager" class="wp-list-table widefat striped posts">
  <thead>
    <tr>
      <th *ngFor="let headerData of tableHeaderData">{{headerData?.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of tableBodyData | filter: filterData">
      <td *ngFor="let column of tableHeaderData">{{record[column.value]}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="paginationEnabled">
  <pml-pagination [totalNoOfPages]="totalPages" [currentPage]="currentPage" [totalRecordsRendered]="tableBodyValue" (currentPageChange)="getNewPage($event)">
  </pml-pagination>
</div>
