table {
    border: 0.6rem solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: 4rem;
}

table tr {
    color: white;
    border: 0.1rem solid#ddd;
    padding: 0.35rem;
}

/* table tr:nth-child(even){
    background-color: #f8f8f8;
} */

table th, table td  {
    padding: 0.625rem;
    text-align: center;
    color: white;
}

table th {
    letter-spacing: .1rem;
    text-transform: uppercase;
}

@media screen and (max-width:600px){
    table{
        border: 0;
    }

    table thead{
        border: none;
        clip: rect(0 0 0 0 );
        height: 0.1rem;
        margin: -0.1rem;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 0.1rem;
    }

    table tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 0.625rem;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

}