<ul class="pagination">
  <li [ngClass]="getPrevArrowClasses()" (click)="previousPage()">
    <a >
      <div class="">Previous</div>
    </a>
  </li>
  <li *ngFor="let x of paginationArray;let i = index" [ngClass]="findCurrentPage(x)" (click)="clickedPage(x)">
    <a >
      <span>{{x}}</span>
    </a>
  </li>
  <li [ngClass]="getNextArrowClases()" (click)="nextPage()">
    <a >
      <div class="">Next</div>
    </a>
  </li>
</ul>

