.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: white;
}

.pagination li {
  padding: 0.8rem 1.6rem;
}

.pagination li:hover {
  cursor: pointer;
}

/* .pagination li.current {
    background: #333;
} */

ul li:hover,
ul li.active{
    background: lightgray;
    color: black;
}

ul li.next-arrow-disabled, ul li.prev-arrow-disabled{
  pointer-events: none;
  background-color: lightgray;
  color: black;
  opacity: 0.3;
}
