<div class="homePage-container">
  <input type="text" placeholder="Search" [(ngModel)]="term">
  <pml-table *ngIf="movieBodyData" [tableHeaderData]="movieHeaderData" [tableBodyValue]="movieBodyData"
    [autoPaginationConfiguration]="autoPagination" [filterData]="term"></pml-table>
</div>
