.homePage-container{
    box-shadow: 0px 0px 18px -1px white;
    border-radius: 1rem;
    padding: 1%;
    margin: 1% 0.5%;
}

.homePage-container input {
    float: right;
    width: 19rem;
    padding: 0.625rem;
    border-radius: 2.3rem;
}

.homePage-container input[type=text]:focus {
   outline: none;
   box-shadow: none !important;
}